<div class="card">

  <div class="container">

  <div class="task">
    <h1 class="title"><%= @task.title %>
  <%= link_to edit_task_path(@task.id), class: 'pull-right btn edit' do %>
    <i class="fa fa-pencil"></i> Edit this task
  <% end %> </h1>

    <div class="info">
      <p class="well color"><%= @task.details %></p>

      <% if @task.completed %>
        <i class="fas fa-check-circle"></i>This task is completed.
      <% else %>
        <i class="far fa-circle"></i> This task is not completed.
      <% end %>
    </div>
  </div>
  <hr>
  <%= link_to tasks_path, class: 'link' do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
  </div>
</div>